*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    height: 650px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb; 
    margin: 20px auto;
    position: relative;
    top: 0;
    
    
}

.blog6_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog6 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c9eee8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    color: #333;
    margin-top: 1.5em;
}

p, ul {
    margin-bottom: 1em;
    text-align: justify;
}

ul {
    padding-left: 20px;
}

ol{
    padding-left: 20px;
}

ul li {
    margin-bottom: 0.5em;
}

ol li {
    margin-bottom: 0.5em;
}