*body {
    background-image:url(login.jpg) ;
    font-family: "Roboto", sans-serif;
  }
  
  .signup-box {
    width: 360px;
    height: 100hv;
    margin: auto;
    background-color: rgb(118, 116, 252);
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 100hv;
    margin: auto;
    border-radius: 3px;
    background-color: rgb(140, 103, 241);
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #3e0dee;
    color: rgb(235, 234, 245);
    font-size: 18px;
  }
  
  .para-2 {
    text-align: center;
    color: rgb(48, 9, 221);
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #1e05ac;
  }