@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

.container {
    display: flex;
    margin: 15px 15px 15px;
    
}

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: #ddd;
    position: fixed; 
    border-radius: 8px;  
    
}

.distric_filter {
    margin-top: 50px;
    padding: 30px 40px;    
}

.distric_filter h3 {
    margin: 30px 30px;
    color: #0e31cc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
      
}

.fil-p {
    padding: 15px 5px;
    background-color: rgb(255, 255, 255);
    margin: 7px 10px;
    cursor: pointer;
    color: #333;
    text-align: justify;
    width: 100px; /* Ensure button takes full width */
   
}

.fil-p:hover {
    color: rgb(79, 52, 231);
    background-color: #aaa;
}

button {
    width:100px;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #aaa;
    padding: 7px 25px;
    cursor: pointer;
    color: wheat;
  
    
}
.content {
    width: 75%;
    position: absolute;
    right: 0;
}

.header {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-bottom: 1px solid #eee;
    color: #383838;
    background-color: #eee;
    border-radius: 8px;
}

.header p {
    font-size: 30px;
    font-weight: bold;
    color: #0e31cc;
}

#root{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    padding: 30px;
}

/*.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
}

.box>h3{
    margin-bottom: 20px;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

h2{
    font-size: 20px;
    color: black;
}*/
.card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: blue;
}

.card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    width: 300px;
    
}

.card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: blue;
    border-radius: 20px 20px 0 0;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;

}

.name{
    margin-top: -30px;
    font-size: 25px;
    font-weight: 600;
    color: blue;
}

.specialty{
    font-size: 20px;
    font-weight: bold;
}

.hospital,.distric{
    font-weight: bold;
}

.star{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.star i{
    font-size: 18px;
    margin: 0 2px;
    color: blue;
}