* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    width: 100%;
    height: 100vh; /* Change to 100vh to fit the viewport height */
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(1.2);
    overflow-y: scroll; /* Allow vertical scrolling */
}

.container {
    display: flex;
    margin: 15px;
}

.sidebar {
    width: 25%;
    height: 200vh;
    position: fixed;
    border-radius: 8px;
    background: #ebeef1;
    border: 2px solid rgba(246, 248, 250, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    align-items: center;
    
    
    
}

.district_filter {
    margin-top: -20px;
    padding: 20px 20px;
}

.district_filter h3 {
    margin: 20px;
    color: #040b2e;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.fil-p {
    padding: 15px 5px;
    background-color: #040b2e;
    margin: 7px 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    width: 125px;
    box-shadow:  10px 10px 10px -1px rgba(0, 0, 0, 0.199), -10px -10px 10px -1px rgb(221, 220, 220);
    border: none;
    border-radius: 15px;
}

/*.fil-p{
     font-size: 15px;
     font-weight: 600;
    
     margin: 10px;
     width: 100px;
     height: 60px;
     background:#192a56;
     cursor: pointer;
     border: none;
     border-radius: 15px;
     color: #ffffff;
     box-shadow:  10px 10px 10px -1px rgba(0, 0, 0, 0.199), -10px -10px 10px -1px rgb(221, 220, 220);
     margin-left: 50px;
    
}*/

.fil-p:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background: #afabab;
    color: #192a56;
}

.content {
    width: 75%;
    position: absolute;
    right: 0;
    padding-bottom: 50px; /* Add padding to prevent content from overlapping with the bottom */
}

.header {
    margin: 0 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 2px solid rgba(248, 248, 248, 0.966);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

   
}

.header p {
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #040b2e;
    margin-top: 10px;
    
   
}

#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 30px;
    margin-left: 20px;
   
    
}

.card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #192a56;;
}

.card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card {
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    margin: 20px 0;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    cursor: pointer;
    
    
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #192a56;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
    
}

.name {
    margin-top: -30px;
    font-size: 20px;
    font-weight: 600;
    color: blue;
}

.specialty {
    font-size: 20px;
    font-weight: bold; 
}

.hospital, .district {
    font-weight: bold;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 10px;
}

.star i {
    font-size: 18px;
    margin: 0 2px;
    color: blue;
}
@media(max-width:1200px){
    .fil-p {
        width: 150px;
        height: 40px;
    }

    .card {
        width: 200px;
        height: auto;
    }

    .card .image {
        height: 110px;
        width: 110px;
    }

    .name {
        font-size: 16px;
    }

    .specialty {
        font-size: 16px;
    }

}
@media (max-width: 875px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }

    .header p {
        font-size: 28px;
    }

    .district_filter h3 {
        font-size: 20px;
       
    }

    .fil-p {
        width: 130px;
        height: 40px;
    }

    .card {
        width: 200px;
        height: auto;
        
    }

    .card .image {
        height: 100px;
        width: 100px;
    }

    .name {
        font-size: 16px;
    }

    .specialty {
        font-size: 16px;
    }

    #root {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 300px;
        
    }
}

@media (max-width: 870px) {
    .sidebar {
        margin-top: 100px;
       
    }

    .district_filter h3 {
        font-size: 18px;
        text-align: center;
    }

    .fil-p {
        width: 110px;
        height: 35px;
        font-size: 14px;
        text-align: center;
    }

    .card {
        width: 180px;
    }

    .card .image {
        height: 90px;
        width: 90px;
    }

    .name {
        font-size: 14px;
    }

    .specialty {
        font-size: 14px;
    }

    .fil-p:last-child {
        align-self: center;
    }

    #root {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
}
@media (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }

    .district_filter h3 {
        font-size: 18px;
        text-align: center;
    }

    .fil-p {
        width: 100px;
        height: 30px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
    }

    .card {
        width: 160px;
    }

    .card .image {
        height: 80px;
        width: 80px;
    }

    .name {
        font-size: 12px;
    }

    .specialty {
        font-size: 12px;
    }

    .fil-p:last-child {
        align-self: center;
    }

    #root {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 20px;
    }
}
@media (max-width: 479px) {
    
    .sidebar {
        width: 100%;
        align-items: center;
        margin-top: 80px;
    }

    .card {
        width: 160px;
        margin-top: 70px;
    }

}
@media (max-width: 320px) {
    .header p {
        font-size: 24px;
        text-align: center;
    }

   /* .sidebar {
        width: 100%;
        align-items: center;
    }

    .district_filter h3 {
        font-size: 16px;
        text-align: center;
    }

    .fil-p {
        width: 90px;
        height: 25px;
        font-size: 10px;
        text-align: center;
        margin-bottom: 5px;
    }

    .card {
        width: 140px;
    }

    .card .image {
        height: 70px;
        width: 70px;
    }

    .name {
        font-size: 10px;
    }

    .specialty {
        font-size: 10px;
    }

    #root {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        padding: 10px;
    }*/
}